<!DOCTYPE html>
<html>
  <head>
    <title>SWARCH</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>PRODUCT</h1>
    <form method="POST" action="/products">
      <label for="name">Nombre:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="description">Descripción:</label><br />
      <textarea id="description" name="description"></textarea><br />
      <button type="submit">Crear</button>
    </form>
    <h2>Editar Producto</h2>
    <form method="POST" action="/products/1">
      <!-- Cambia '1' por el ID deseado -->
      <label for="name">Nombre:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="description">Descripción:</label><br />
      <textarea id="description" name="description"></textarea><br />
      <button type="submit">Actualizar</button>
    </form>
  </body>
</html>
